.label{
    color: red;
}

.header{
    margin-bottom: 15px;
}


.carrousel{
    background-color: rgb(202, 199, 199);
    margin-bottom: 20px;
    color: rgb(202, 199, 199);
}

.main h1{
    text-align: center;
}

.carrousel img{
    margin-right: 5px;
}

.nav-item{
    margin-right:24px;
    margin-left:24px;
    text-align: center;
}


a{
    color: black;
}

a:hover{
    color: black;
}

.footer {
  background-color:rgb(204, 203, 203);
  text-align: center;
  padding-top:5px;
}
